# Generate synthetic data
Generating synthetic data using public libraries for the 'adult' dataset.

## Load libraries and define settings

In [2]:
# general dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sys
import os
from pathlib import Path

In [22]:
# package
from crnsynth2.generators.privbayes import PrivBayes

In [12]:
# data-specific
from examples.adult.adult_config import PATH_ADULT
from examples.adult.adult_synthpipe import AdultSynthPipe

In [13]:
# autoreload changes from local files
%load_ext autoreload
%autoreload 2

# pandas show full output
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 200)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [14]:
# privacy budget for differentially private algorithms
EPSILON = 1

# dataset
DATASET_NAME = 'adult'

# other
RANDOM_STATE = 42

## Load and process dataset

In [15]:

df_adult = pd.read_csv(PATH_ADULT)
df_adult.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

## Generate
Here we show how step by step how to generate synthetic data.

Advise you to look at the implementation of the AdultSynthPipe to see what steps it performs to go from raw to synthetic data.

In [23]:
# create copy to retain original data format
df = df_adult.copy()

# prepare data
generator = PrivBayes(epsilon=EPSILON)
synth_pipe = AdultSynthPipe(generator=generator, test_size=0.2, generalize=True, target_column='income', random_state=RANDOM_STATE)

df_synth = synth_pipe.run(df)

/Users/dknoors/Projects/synthesis-dk/synthetic-data-generation/synthesis/transformers/generalization.py:53: UserWarning: Bins whose width are too small (i.e., <= 1e-8). Consider decreasing the number of bins.
  warnings.warn('Bins whose width are too small (i.e., <= '

1/11 - Root of network: income

2/11 - Evaluating next attribute to add to network
Number of AttributeParentPair candidates: 10
Selected attribute: 'marital-status' - with parents: ('income',)

3/11 - Evaluating next attribute to add to network
Number of AttributeParentPair candidates: 11
Selected attribute: 'relationship' - with parents: ('marital-status', 'income')

4/11 - Evaluating next attribute to add to network
Number of AttributeParentPair candidates: 15
Selected attribute: 'sex' - with parents: ('relationship', 'marital-status', 'income')

5/11 - Evaluating next attribute to add to network
Number of AttributeParentPair candidates: 21
Selected attribute: 'age' - with parents: ('sex', 'marital-status', 'income')

6/11 - Evaluating next attribute to add to network
Number of AttributeParentPair candidates: 29
Selected attribute: 'occupation' - with parents: ('sex', 'income')

7/11 - Evaluating next attribute to add to network
Number of AttributeParentPair candidates: 28
Selected attribute: 'workclass' - with parents: ('occupation',)

8/11 - Evaluating next attribute to add to network
Number of AttributeParentPair candidates: 26
Selected attribute: 'hours-per-week' - with parents: ('sex', 'occupation')

9/11 - Evaluating next attribute to add to network
Number of AttributeParentPair candidates: 25
Selected attribute: 'education' - with parents: ('income', 'age')

10/11 - Evaluating next attribute to add to network
Number of AttributeParentPair candidates: 18
Selected attribute: 'race' - with parents: ('occupation', 'sex')

11/11 - Evaluating next attribute to add to network
Number of AttributeParentPair candidates: 2
Selected attribute: 'native-country' - with parents: ('sex', 'income')

Learned Network Structure

Learning conditional probabilities: income - with parents None ~ estimated size: 2
Learning conditional probabilities: marital-status - with parents ('income',) ~ estimated size: 14
Learning conditional probabilities: relationship - with parents ('marital-status', 'income') ~ estimated size: 84
Learning conditional probabilities: sex - with parents ('relationship', 'marital-status', 'income') ~ estimated size: 168
Learning conditional probabilities: age - with parents ('sex', 'marital-status', 'income') ~ estimated size: 140
Learning conditional probabilities: occupation - with parents ('sex', 'income') ~ estimated size: 60
Learning conditional probabilities: workclass - with parents ('occupation',) ~ estimated size: 135
Learning conditional probabilities: hours-per-week - with parents ('sex', 'occupation') ~ estimated size: 120
Learning conditional probabilities: education - with parents ('income', 'age') ~ estimated size: 160
Learning conditional probabilities: race - with parents ('occupation', 'sex') ~ estimated size: 150
Learning conditional probabilities: native-country - with parents ('sex', 'income') ~ estimated size: 168
Number of records generated: 541 / 32561

/Users/dknoors/miniconda3/envs/crnsynth/lib/python3.9/site-packages/thomas/core/factors/cpt.py:65: RuntimeWarning: invalid value encountered in divide
  self.values = self.values / row_sum

Number of records generated: 32561 / 32561
Synthetic Data Generated