# Synthetic Data Benchmark
In the previous notebook we show how we can review a synthetic dataset by running a list of metrics.

We can now benchmark its performance by comparing the reviews of multiple synthetic datasets.

## Load libraries and define settings

In [3]:
# general dependencies
import numpy as np
import pandas as pd
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
import sys
import os
from pathlib import Path

In [4]:
# package
from crnsynth.generators.privbayes import PrivBayes

from crnsynth.processing import preprocessing

from crnsynth.metrics import PRIVACY_METRICS, ALL_METRICS
from crnsynth.benchmark.review import SyntheticDataReview
from crnsynth.benchmark.benchmark import SyntheticDataBenchmark

In [5]:
from examples.synthesization import adult_synthesis

In [6]:
# ignore deprecation warning
warnings.filterwarnings("ignore", category=DeprecationWarning) 

# autoreload changes from local files
%load_ext autoreload
%autoreload 2

# pandas show full output
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 200)

In [7]:
# privacy budget for differentially private algorithms
EPSILON = 1

# other params
RANDOM_STATE = 42
VERBOSE = 1

## Load and process dataset

In [8]:
df_adult = pd.read_csv(adult_synthesis.PATH_ADULT)
df_adult.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

## Generate
Here we show how step by step how to generate synthetic data.

In [9]:
df = df_adult.copy()

# process data
df = adult_synthesis.preprocess_real_data(df)

# split data
df_train, df_holdout = preprocessing.split_train_holdout(df, target_column='income', holdout_size=0.2, random_state=RANDOM_STATE)

# define your generator 
generator = PrivBayes(epsilon=EPSILON)

# train the generator on the input data
generator.fit(df_train)

# generate synthetic data with a desired number of rows
df_synth = generator.generate(n_records=1000)

# post process the synthetic data
df_synth = adult_synthesis.postprocess_synthetic_data(df_synth)

df_synth.head()

1/11 - Root of network: sex

2/11 - Evaluating next attribute to add to network
Number of AttributeParentPair candidates: 10
Selected attribute: 'relationship' - with parents: ('sex',)

3/11 - Evaluating next attribute to add to network
Number of AttributeParentPair candidates: 9
Selected attribute: 'marital-status' - with parents: ('relationship', 'sex')

4/11 - Evaluating next attribute to add to network
Number of AttributeParentPair candidates: 12
Selected attribute: 'occupation' - with parents: ('relationship', 'sex')

5/11 - Evaluating next attribute to add to network
Number of AttributeParentPair candidates: 14
Selected attribute: 'workclass' - with parents: ('occupation',)

6/11 - Evaluating next attribute to add to network
Number of AttributeParentPair candidates: 16
Selected attribute: 'income' - with parents: ('workclass', 'relationship')

7/11 - Evaluating next attribute to add to network
Number of AttributeParentPair candidates: 15
Selected attribute: 'education' - with parents: ('income', 'relationship')

8/11 - Evaluating next attribute to add to network
Number of AttributeParentPair candidates: 12
Selected attribute: 'age' - with parents: ('income',)

9/11 - Evaluating next attribute to add to network
Number of AttributeParentPair candidates: 10
Selected attribute: 'hours-per-week' - with parents: ('sex',)

10/11 - Evaluating next attribute to add to network
Number of AttributeParentPair candidates: 8
Selected attribute: 'race' - with parents: ('education', 'sex')

11/11 - Evaluating next attribute to add to network
Number of AttributeParentPair candidates: 1
Selected attribute: 'native-country' - with parents: ('income', 'sex')

Learned Network Structure

Learning conditional probabilities: sex - with parents None ~ estimated size: 2
Learning conditional probabilities: relationship - with parents ('sex',) ~ estimated size: 12
Learning conditional probabilities: marital-status - with parents ('relationship', 'sex') ~ estimated size: 84
Learning conditional probabilities: occupation - with parents ('relationship', 'sex') ~ estimated size: 180
Learning conditional probabilities: workclass - with parents ('occupation',) ~ estimated size: 135
Learning conditional probabilities: income - with parents ('workclass', 'relationship') ~ estimated size: 108
Learning conditional probabilities: education - with parents ('income', 'relationship') ~ estimated size: 192
Learning conditional probabilities: age - with parents ('income',) ~ estimated size: 142
Learning conditional probabilities: hours-per-week - with parents ('sex',) ~ estimated size: 188
Learning conditional probabilities: race - with parents ('education', 'sex') ~ estimated size: 160
Learning conditional probabilities: native-country - with parents ('income', 'sex') ~ estimated size: 168
Number of records generated: 588 / 1000

/Users/dknoors/miniconda3/envs/crnsynth/lib/python3.9/site-packages/thomas/core/factors/cpt.py:65: RuntimeWarning: invalid value encountered in divide
  self.values = self.values / row_sum

Number of records generated: 1000 / 1000
Synthetic Data Generated

,age,hours-per-week,workclass,education,marital-status,occupation,relationship,race,sex,native-country,income
0,40,40,?,Bachelors,Married-civ-spouse,?,Husband,White,Male,United-States,>50K
1,54,40,Self-emp-not-inc,Some-college,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,>50K
2,51,99,Private,11th,Never-married,Farming-fishing,Own-child,White,Male,United-States,<=50K
3,35,55,Self-emp-inc,Some-college,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,>50K
4,49,33,?,HS-grad,Married-civ-spouse,?,Husband,White,Male,United-States,<=50K

In [11]:
from crnsynth.metrics import PRIVACY_METRICS, ALL_METRICS

PRIVACY_METRICS

[DistanceClosestRecord({'encoder': 'ordinal', 'quantile': 0.5, 'metric': 'gower', 'categorical_columns': None}),
 NearestNeighborDistanceRatio({'encoder': 'ordinal', 'quantile': 0.5, 'metric': 'gower', 'n_neighbors': 2, 'categorical_columns': None}),
 CategoricalCAPScore({'encoder': 'ordinal', 'categorical_columns': None, 'frac_sensitive': 0.5, 'random_state': None})]

In [13]:
ALL_METRICS

{'privacy': [DistanceClosestRecord({'encoder': 'ordinal', 'quantile': 0.5, 'metric': 'gower', 'categorical_columns': None}),
  NearestNeighborDistanceRatio({'encoder': 'ordinal', 'quantile': 0.5, 'metric': 'gower', 'n_neighbors': 2, 'categorical_columns': None}),
  CategoricalCAPScore({'encoder': 'ordinal', 'categorical_columns': None, 'frac_sensitive': 0.5, 'random_state': None})]}

## Benchmark 
Run a suite of metrics to evaluate the utility and privacy of synthetic data.

In [14]:
# metrics that have any of the parameters below are updated with the following values
# alternatively, instead of setting a global value, you can set the values for each metric individually as well
metric_kwargs = {
    'categorical_columns': adult_synthesis.NOMINAL_COLUMNS,
    'frac_sensitive': 0.5,
    'random_state': RANDOM_STATE,
}

# define number of jobs for sequential (n_jobs == 1) or parallel computation (n_jobs > 1 or -1 for all cores)
n_jobs = -1 

# metrics can either be a list or dictionary
metrics = ALL_METRICS

benchmark = SyntheticDataBenchmark(metrics=metrics, metric_kwargs=metric_kwargs, encoder='ordinal', n_jobs=n_jobs, verbose=VERBOSE)
scores = benchmark.compute(df_train, df_synth, df_holdout)
scores

{'privacy': {'distance_closest_record': {'holdout': 0.0031013367760234613,
   'synth': 0.14251987036667593},
  'nearest_neighbor_distance_ratio': {'holdout': 0.6242069835342642,
   'synth': 0.7812455106876648},
  'cap_categorical_score': {'score': 0.9316764207864838}}}

After computation scores can also be accessed via the `scores_` attribute.

In [15]:
benchmark.scores_

{'privacy': {'distance_closest_record': {'holdout': 0.0031013367760234613,
   'synth': 0.14251987036667593},
  'nearest_neighbor_distance_ratio': {'holdout': 0.6242069835342642,
   'synth': 0.7812455106876648},
  'cap_categorical_score': {'score': 0.9316764207864838}}}

You can see how the metrics within the `SyntheticDataBenchmark` class are affected by the `metic_kwargs` parameters and computation on the data.

In [16]:
benchmark.metrics

{'privacy': [DistanceClosestRecord({'encoder': None, 'quantile': 0.5, 'metric': 'gower', 'categorical_columns': ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country', 'income']}),
  NearestNeighborDistanceRatio({'encoder': None, 'quantile': 0.5, 'metric': 'gower', 'n_neighbors': 2, 'categorical_columns': ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country', 'income']}),
  CategoricalCAPScore({'encoder': None, 'categorical_columns': ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country', 'income'], 'frac_sensitive': 0.5, 'random_state': 42})]}